In [3]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import sklearn
from sklearn.neural_network import MLPRegressor

# Import necessary modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score

In [4]:
data = pd.read_csv('train.csv')

In [5]:
data.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

In [6]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
data['City']= label.fit_transform(data['City']) 
  
data['City'].unique()

array([31,  3, 10, 28, 14,  1, 11, 19,  8, 32, 25, 12, 18, 13, 33, 26,  0,
        4, 17, 30, 23, 22, 20, 16, 27,  9,  6,  5,  2, 21,  7, 29, 15, 24],
      dtype=int64)

In [7]:
data=pd.get_dummies(data,columns=['City Group','Type'])

In [8]:
data =data.drop(['Id','Open Date'],axis=1)

In [9]:
data.columns

Index(['City', 'P1', 'P2', 'P3', 'P4', 'P5', 'P6', 'P7', 'P8', 'P9', 'P10',
       'P11', 'P12', 'P13', 'P14', 'P15', 'P16', 'P17', 'P18', 'P19', 'P20',
       'P21', 'P22', 'P23', 'P24', 'P25', 'P26', 'P27', 'P28', 'P29', 'P30',
       'P31', 'P32', 'P33', 'P34', 'P35', 'P36', 'P37', 'revenue',
       'City Group_Big Cities', 'City Group_Other', 'Type_DT', 'Type_FC',
       'Type_IL'],
      dtype='object')

In [10]:
X = data.drop('revenue',axis=1)
Y = data['revenue']

In [11]:
from sklearn import preprocessing
label = preprocessing.MinMaxScaler()
new_label = label.fit_transform(X)
cols=X.columns
x_tran_data = pd.DataFrame(new_label,columns=cols)

C:\Users\ajay\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype uint8, int32, int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [12]:
scalary=preprocessing.MinMaxScaler()
y=scalary.fit_transform(Y.values.reshape(-1,1))

In [13]:
x_tran_data.head()

,City,P1,P2,P3,P4,P5,P6,P7,P8,P9,...,P33,P34,P35,P36,P37,City Group_Big Cities,City Group_Other,Type_DT,Type_FC,Type_IL
0,0.939394,0.272727,0.615385,0.533333,0.222222,0.142857,0.111111,0.444444,0.333333,0.166667,...,0.833333,0.208333,0.266667,0.15,0.500,1.0,0.0,0.0,0.0,1.0
1,0.090909,0.272727,0.615385,0.533333,0.222222,0.000000,0.111111,0.444444,0.444444,0.166667,...,0.000000,0.000000,0.000000,0.00,0.000,1.0,0.0,0.0,1.0,0.0
2,0.303030,0.090909,0.461538,0.266667,0.444444,0.142857,0.222222,0.444444,0.444444,0.166667,...,0.000000,0.000000,0.000000,0.00,0.000,0.0,1.0,0.0,0.0,1.0
3,0.848485,0.454545,0.538462,0.800000,0.666667,0.428571,0.333333,1.000000,0.777778,1.000000,...,1.000000,0.750000,0.800000,0.60,0.750,0.0,1.0,0.0,0.0,1.0
4,0.424242,0.181818,0.461538,0.400000,0.222222,0.142857,0.111111,0.444444,0.444444,0.166667,...,0.333333,0.125000,0.266667,0.15,0.375,0.0,1.0,0.0,0.0,1.0

In [14]:
Y=pd.DataFrame(y)
Y.head()

          0
0  0.242835
1  0.311276
2  0.048822
3  0.082258
4  0.170746

In [15]:
nn = MLPRegressor(hidden_layer_sizes=(100,70,50,20),
    activation='relu',max_iter=500,tol=0.0001)

In [16]:
param_grid = {'activation' :['logistic', 'tanh', 'relu'],
              'solver':['sgd'],
              'alpha' :[.0001,.001,.01],
              'learning_rate' :['invscaling'],
              'learning_rate_init' : [0.0001,.001,0.01]
             }

In [17]:
from sklearn.model_selection import GridSearchCV

In [18]:
Nn = GridSearchCV(nn,param_grid,verbose=True,n_jobs=-1,cv=15,refit=True)

In [19]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size = 0.3)

In [20]:
Nn.fit(x_train,y_train)

Fitting 15 folds for each of 27 candidates, totalling 405 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    3.8s
[Parallel(n_jobs=-1)]: Done 184 tasks      | elapsed:   10.0s
[Parallel(n_jobs=-1)]: Done 405 out of 405 | elapsed:   19.6s finished
C:\Users\ajay\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
C:\Users\ajay\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:1316: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(cv=15, error_score='raise-deprecating',
       estimator=MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100, 70, 50, 20), learning_rate='constant',
       learning_rate_init=0.001, max_iter=500, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=None, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False),
       fit_params=None, iid='warn', n_jobs=-1,
       param_grid={'activation': ['logistic', 'tanh', 'relu'], 'solver': ['sgd'], 'alpha': [0.0001, 0.001, 0.01], 'learning_rate': ['invscaling'], 'learning_rate_init': [0.0001, 0.001, 0.01]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=True)

In [21]:
final_model = Nn.best_estimator_

In [22]:
Nn.best_params_

{'activation': 'logistic',
 'alpha': 0.0001,
 'learning_rate': 'invscaling',
 'learning_rate_init': 0.01,
 'solver': 'sgd'}

In [23]:
y_pred = Nn.predict(x_test)

In [24]:
from sklearn import metrics

In [25]:
metrics.mean_squared_error(y_test,y_pred)

0.024202592007003126

In [26]:
np.sqrt(metrics.mean_squared_error(y_test,y_pred))

0.15557182266401307

In [27]:
pred_inv = scalar.inverse_transform(y_pred.reshape(-1, 1))

NameError: name 'scalar' is not defined

In [ ]:
import pickle
pickle.dump(final_model,open('Neu_net_rest_rev.pk','wb'))

### test data

In [ ]:
test = pd.read_csv('test.csv')

In [ ]:
test.head()

In [ ]:
test=test.drop(['Id','Open Date'],axis=1)

In [ ]:
test = pd.get_dummies(test,columns=['City Group','Type'])

In [ ]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
test['City']=label.fit_transform(test['City'])
test.head()

In [ ]:
test.columns

In [ ]:
from sklearn import preprocessing
label = preprocessing.MinMaxScaler()
new_label = label.fit_transform(test)
cols=test.columns
x_tran_data = pd.DataFrame(new_label,columns=cols)

In [ ]:
test_data=x_tran_data.drop(['Type_MB'],axis=1)

In [ ]:
model = pickle.load(open('Neu_net_rest_rev.pk','rb'))

In [ ]:
model

In [ ]:
new_pred = model.predict(test_data)

In [ ]:
new_pred

In [ ]:
test_data['predicted']=new_pred

In [ ]:
test_data.head()

In [ ]:
rev = label.inverse_transform(test_data)

In [ ]:
cols =pd.DataFrame(rev)

In [ ]:
scalary.